/* Starting Icons */
@font-face {
    font-family: 'ic-icons';
    src:  url('fonts/ic-icons.eot?urq5zb');
    src:  url('fonts/ic-icons.eot?urq5zb#iefix') format('embedded-opentype'),
      url('/fonts/ic-icons.ttf') format('truetype'),
      url('/fonts/ic-icons.woff?urq5zb') format('woff'),
      url('fonts/ic-icons.svg?urq5zb#ic-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  //testing
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ic-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.icon-huk:before {
  content: "\e952";
}
.icon-beach:before {
  content: "\e900";
}
.icon-easter-egg:before {
  content: "\e901";
}
.icon-glasses:before {
  content: "\e902";
}
.icon-sun:before {
  content: "\e903";
}
.icon-tulip:before {
  content: "\e904";
}
.icon-usa-flag:before {
  content: "\e905";
}
.icon-bags:before {
  content: "\e906";
}
.icon-cap:before {
  content: "\e907";
}
.icon-cart:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-hide:before {
  content: "\e90a";
}
.icon-trousers:before {
  content: "\e90b";
}
.icon-read-more:before {
  content: "\e90c";
}
.icon-error:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90e";
}
.icon-contact:before {
  content: "\e90f";
}
.icon-delete:before {
  content: "\e910";
}
.icon-direct-print:before {
  content: "\e911";
}
.icon-dress-shirt:before {
  content: "\e912";
}
.icon-edit:before {
  content: "\e913";
}
.icon-embroidery:before {
  content: "\e914";
}
.icon-ems:before {
  content: "\e915";
}
.icon-enter:before {
  content: "\e916";
}
.icon-eye:before {
  content: "\e917";
}
.icon-facebook:before {
  content: "\e918";
}
.icon-filter:before {
  content: "\e919";
}
.icon-heat-transfer:before {
  content: "\e91a";
}
.icon-hospitality:before {
  content: "\e91b";
}
.icon-menu:before {
  content: "\e91c";
}
.icon-message:before {
  content: "\e91d";
}
.icon-chevron-right:before {
  content: "\e91e";
}
.icon-chevron-left:before {
  content: "\e91f";
}
.icon-outerwear:before {
  content: "\e920";
}
.icon-patches:before {
  content: "\e921";
}
.icon-minus:before {
  content: "\e922";
}
.icon-phone:before {
  content: "\e923";
}
.icon-plus:before {
  content: "\e924";
}
.icon-poloshirt:before {
  content: "\e925";
}
.icon-question:before {
  content: "\e926";
}
.icon-reflective-transfer:before {
  content: "\e927";
}
.icon-restaurant:before {
  content: "\e928";
}
.icon-search:before {
  content: "\e929";
}
.icon-sportswear:before {
  content: "\e92a";
}
.icon-tshirt:before {
  content: "\e92b";
}
.icon-twitter:before {
  content: "\e92c";
}
.icon-upload:before {
  content: "\e92d";
}
.icon-user-plus:before {
  content: "\e92e";
}
.icon-user:before {
  content: "\e92f";
}
.icon-chevron-down:before {
  content: "\e930";
}
.icon-work-uniform:before {
  content: "\e931";
}
.icon-screen-printing:before {
  content: "\e932";
}
.icon-scrubs:before {
  content: "\e933";
}
.icon-chevron-up:before {
  content: "\e934";
}
.icon-exclamation:before {
  content: "\e935";
}
.icon-info:before {
  content: "\e936";
}
.icon-tag:before {
  content: "\e937";
}
.icon-expand:before {
  content: "\e938";
}
.icon-image:before {
  content: "\e939";
}
.icon-zoom-in:before {
  content: "\e93a";
}
.icon-up-arrow:before {
  content: "\e93b";
}
.icon-water-bottle:before {
  content: "\e93c";
}
.icon-adidas:before {
  content: "\e93d";
}
.icon-antigua:before {
  content: "\e93e";
}
.icon-ogio:before {
  content: "\e93f";
}
.icon-brooks:before {
  content: "\e940";
}
.icon-callaway:before {
  content: "\e941";
}
.icon-columbia:before {
  content: "\e942";
}
.icon-cutter-and-buck:before {
  content: "\e943";
}
.icon-greg-norman:before {
  content: "\e944";
}
.icon-nike:before {
  content: "\e945";
}
.icon-north-face:before {
  content: "\e946";
}
.icon-reebok:before {
  content: "\e947";
}
.icon-travismathew:before {
  content: "\e948";
}
.icon-under-armour:before {
  content: "\e949";
}
.icon-bolt:before {
  content: "\e94a";
}
.icon-eddie-bauer:before {
  content: "\e94b";
}
.icon-puma:before {
  content: "\e94c";
}
.icon-richardson:before {
  content: "\e94d";
}
.icon-polo-shirt-dollar:before {
  content: "\e94e";
}
.icon-free-shipping:before {
  content: "\e94f";
}
.icon-allowance:before {
  content: "\e950";
}
.icon-palm:before {
  content: "\e951";
}