// Mobile
@media (max-width:991px){
    body{
        font-size: 1rem;
    }
    .short .main, .short .footer{
        margin-left: 0px;
    }

    // Nav accordion mobile
    .navbar{
        .accordion{
            background-color: transparent;
            border: 0;
    
            .accordion-item{
                background-color:transparent;
                border: 0;
                .accordion-button.collapsed{
                    border-radius:12px;
                    background-color:transparent;
                }
                .accordion-button:not(.collapsed){
                    background-color: $white;
                    color: $primary-color;                
                }
                .accordion-button{
                    color: $white;
                    border-radius:12px 12px 0 0;
                    
                    i{font-size: 1.5rem; margin-right: 1rem;}
                }
                .accordion-body{
                    background-color: $white;
                    border-radius: 0 0 12px 12px;
                    padding: 12px 5px;
                    a{
                        color: $primary-color;
                        padding: 0.6rem 1rem;
                        &:hover{
                            background-color: $primary-color;
                            color: $white;
                        }
                    }
                }
            }
            
        }
    }
    
// Components: Card
.card-image-container{
    .card{
        display: flex;
        flex-direction: row;
        .card-body{
            width: 60%;
        }
    }
 }

.card-product-container{
    .card{
        display: flex;
        flex-direction: row;

        &:hover{
            .hover-card{display: none !important;}
            background-color: $bg-lighter;
            border-color: $bg-lighter;
        }
        .card-img-top, img{
            max-width: 60px;
            height: auto;
        }
        .card-image-container{
            display: flex;
            align-items: center;
        }
        .card-body{
            width: 60%;
        }
    }
 }
// END Components: Card

    footer{
        padding:40px 0;
        height: auto;
        .accordion-item{
            border-radius: 12px !important;
            border: 2px solid $white !important;
            .accordion-button{
                color: #fff;
                i{
                    @include transition(rotate, 0.15s);
                }
                // &::after{
                //     display: none;
                // }
            }
            .accordion-button:not(.collapsed){
                i{
                    rotate: 180deg;
                    @include transition(rotate, 0.15s);
                }              
            }
            .accordion-button:focus {
                z-index: 3;
                border-color: $white;
                outline: 0;
                box-shadow: $white;
            }
            .dropdown-item{
                padding: 0.6rem 1rem;
                &:hover{
                    background-color: $white;
                    color: $primary-color;
                }
            }
        }
        
        

    }

    .swatch-container {
        .swatch{
            width: 30px;
            height: 30px;
        }
    }
    
    // Category Filters
    .product-filters-container{
        .accordion-button{
            color: $primary-color !important;
        }
    }
    // End Category Filters
}

@media (max-width: 575px) {
    // BTN Customization
    .customization-buttons-container{
        .btn{
            padding:0.5rem;
            span{display: none;}
        }
    }
    // END BTN Customization

    //Cart
    .cart-item{
        .item-img{
            margin-bottom: 1rem;
            img{
                width: auto;
                max-height:13rem;
            }
        }
        .item-order-details{
            flex-wrap: wrap;
        }
    }
    //END Cart
}